<%- @colors.each do |color| %>
  <p class="rounded py-3 m-3 text-left border-solid border-2 border-gray-600" style="background-color:<%= color %>;">
    <span class="mx-4 font-medium">
      <b>Page <%= @page %></b>: <%= color %>
    </span>
  </p>
<% end %>
