<div
  data-controller="cable-events"
  data-cable-events-channel-value="ApplicationCable::ProgressChannel"
>
  <div
    data-controller="progress"
    data-action="progress:up->progress#up"
    data-cable-events-target="listener"
    data-progress-load-value="<%= @load %>"
    data-progress-update-url-value="<%= amaterasu_lights_fragment_path %>"
  >
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="bg-gray-400 rounded">
        <div
          class="text-white bg-blue-600 rounded text-center py-3 transition-all duration-200"
          data-progress-target="bar"
        >
          <%= @load %>%
        </div>
      </div>

      <div class="flex justify-center my-4">
        <button class="btn-primary mx-2" data-action="progress#off">Off</button>
        <button class="btn-primary mx-2" data-action="progress#down">Down</button>
        <button class="btn-primary mx-2" data-action="progress#up">Up</button>
        <button class="btn-primary mx-2" data-action="progress#on">On</button>
      </div>
    </div>
  </div>
</div>
