@import '~milligram/dist/milligram.min';

.items {
  flex-wrap: wrap;
}

.order {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  margin: 1.5rem 2rem;
  border-radius: .5rem;
  background-color: #fff;
  box-shadow: 5px 5px 4px -4px rgba(0, 0, 0, 0.1), 3px 3px 3px -3px rgba(0, 0, 0, 0.05);

  .id {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
    background-color: #ccc;
    color: #000;
  }
}
