<div class="rounded-t-lg overflow-hidden border-t border-l border-r border-gray-400 p-10 flex justify-center">
    <div class="max-w-md rounded-lg items-center overflow-hidden shadow-lg p-10 text-center">
      <%= render "form" %>
    </div>
</div>
