<div class="container page">
  <div class="mb-4 mt-2">
    <h1 class="text-2xl text-center font-semibold">Colors Palette</h1>
    <h1 class="text-base text-center">with infinite scroll</h1>
  </div>

  <div
    class="colors"
    data-controller="infinite-scroll"
    data-infinite-scroll-url-value="<%= amaterasu_colors_fragment_url %>"
    data-infinite-scroll-start-page-value="1"
    data-infinite-scroll-per-page-value="10"
  >
    <div data-infinite-scroll-target="result"></div>

    <div data-infinite-scroll-target="loader" class="loading">
      <button class="loading-indicator">
        <svg class="spinner" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        Loading...
      </button>
    </div>
  </div>
</div>
