<div class="container page">
  <div class="mb-4 mt-2">
    <h1 class="text-2xl text-center font-semibold">Light Control</h1>
    <h1 class="text-base text-center">with server syncing</h1>
  </div>

  <div
    class="light-control"
    data-controller="content"
    data-content-fetch-on-load-value="true"
    data-content-url-value="<%= amaterasu_lights_fragment_path %>"
  ></div>
</div>
