<div
  data-controller="progress"
  data-progress-load-value="<%= @load %>"
  data-progress-update-url-value="<%= amaterasu_light_path %>"
>
  <div class="progress">
    <div
      class="progress-bar"
      data-progress-target="bar"
    >
      <%= @load %>%
    </div>
  </div>

  <div class="actions">
    <button data-action="progress#off">Off</button>
    <button data-action="progress#down">Down</button>
    <button data-action="progress#up">Up</button>
    <button data-action="progress#on">On</button>
  </div>
</div>
